body {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  background-image: url('/static/img/backgrounds/user.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header .open-menu {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1101;
  position: relative;
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1050;
  /* чуть ниже меню */
}

/* Показываем оверлей */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

header .open-menu .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  user-select: none;
}

header .open-menu .close {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(90deg);
  pointer-events: none;
}

header .open-menu.active .burger {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

header .open-menu.active .close {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
  pointer-events: auto;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 170px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  transition: left 0.3s ease;
  z-index: 1100;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.side-menu .close-btn {
  align-self: flex-end;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.side-menu.active {
  left: 0;
}

header {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 3vh;
  position: relative;
  border-radius: 20px;
  background-color: rgba(53, 53, 53, 0.45);
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 11px 14px;
  gap: 0px;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: 'Bakbak One';
}

header .title {
  width: 200px;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  height: 100%;
  flex-shrink: 0;
  pointer-events: none;
}

header .hire-me-parent {
  width: auto;
  height: 100%;
  border-radius: 20px;
  border-top: 2px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-left: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13px 27px;
  gap: 22px;
  font-size: 24px;
  font-family: 'Inria Sans';
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
}

header .hire-me-parent:hover {
  border-radius: 0;
  background-color: #fff;
}

header .hire-me-parent:hover .hire-me {
  color: #000;
}

header .hire-me-parent:hover .hireme-svg {
  filter: invert(100%);
}

header .hire-me-parent .hireme-svg {
  width: 1.667vw;
  position: relative;
  height: 2.667vh;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-left: 5vw;
    padding: 10px;
    font-size: 10px;
    gap: 10px;
  }

  header .open-menu {
    display: block;
  }

  header .title {
    width: auto;
    font-size: 28px;
    flex-grow: 1;
    text-align: center;
  }

  header .hire-me-parent {
    display: none;
    /* Скрываем "Hire Me" на мобилке */
  }

  header .hire-me-parent .hireme-svg {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 420px) {
  header .hire-me-parent {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }
}

.side-panel {
  position: fixed;
  margin-left: 10vw;
  margin-top: 7.444vh;
}

.side-panel .info-menu {
  margin-top: 3.444vh;
  width: 17.917vw;
  border-radius: 20px;
  background-color: rgba(53, 53, 53, 0.45);
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px;
  gap: 2px;
  text-align: left;
  font-size: 20px;
  color: #7d7d7d;
  font-family: 'Inria Sans';
}

.side-panel .info-menu .phone {
  position: relative;
}

.side-panel .info-menu .b {
  position: relative;
  color: #fff;
}

.side-panel .info-menu .phone-parent {
  align-items: stretch;
  height: 6.667vh;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px;
  box-sizing: border-box;
  gap: 1px
}

.side-panel .buttons-menu .title {
  width: 7.292vw;
  position: relative;
  display: inline-block;
  font-weight: 700;
  flex-shrink: 0;
}

.side-panel .buttons-menu .icon {
  width: 1.771vw;
  position: relative;
  height: 2.667vh;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.side-panel .buttons-menu .button {
  width: 15.104vw;
  border-radius: 14px;
  background-color: #fff;
  height: 5.444vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  box-sizing: border-box;
  gap: 60px;
}

.side-panel .buttons-menu .button1 {
  width: 15.104vw;
  border-radius: 14px;
  background-color: #787878;
  height: 5.444vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  box-sizing: border-box;
  gap: 60px;
}

.side-panel .buttons-menu {
  width: 17.917vw;
  position: relative;
  border-radius: 20px;
  background-color: rgba(53, 53, 53, 0.45);
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: 'Inria Sans';
}

.content {
  margin-left: 32.778vw;
}

.content .main-panel {
  margin-top: 7.444vh;
  width: 57.222vw;
  height: 47.889vh;
  position: relative;
  border-radius: 20px;
  background-color: rgba(53, 53, 53, 0.45);
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 32px;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: 'Inria Sans';
}

.content .main-panel .ellipse-parent {
  width: 24.236vw;
  position: relative;
  height: 41.667vh;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 15px;
}

.content .main-panel .hi-there-wrapper {
  position: absolute;
  top: 30.111vh;
  left: 18.819vw;
  backdrop-filter: blur(8.7px);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.67);
  width: 7.083vw;
  height: 3.222vh;
  overflow: hidden;
}

.content .main-panel .download-cv-parent {
  width: 11.944vw;
  border-radius: 20px;
  border-top: 1px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 2px solid #fff;
  box-sizing: border-box;
  height: 5.333vh;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 17px 38px;
  gap: 13px;
  font-family: Kantumruy;
}

.content .main-panel .hi-there-parent {
  width: 27.847vw;
  height: 41.778vh;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 29px;
  box-sizing: border-box;
  gap: 12px;
}

.content .main-panel .frame-child {
  position: absolute;
  top: 5.444vh;
  left: 2.5vw;
  border-radius: 50%;
  width: 277px;
  height: 277px;
  object-fit: cover;
}

.content .main-panel .hi-there1 {
  position: absolute;
  top: 0.556vh;
  left: 0.694vw;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 5.694vw;
  height: 2.222vh;
}

.content .main-panel .hi-there {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: center;
}

.content .main-panel .creative-web {
  margin: 0;
}

.content .main-panel .creative-web-container {
  width: 23.472vw;
  position: relative;
  font-size: 40px;
  letter-spacing: 0.04em;
  line-height: 108%;
  display: inline-block;
  font-family: Kadwa;
  height: 9.444vh;
  flex-shrink: 0;
}

.content .main-panel .i-am-a {
  letter-spacing: 0.04em;
}

.content .main-panel .span {
  letter-spacing: 0.07em;
}

.content .main-panel .i-am-a-container {
  align-self: stretch;
  position: relative;
  line-height: 108%;
  font-weight: 500;
  font-family: Jura;
  color: #b5b5b5;
  display: inline-block;
  height: 13.778vh;
  flex-shrink: 0;
}

.content .main-panel .download-cv {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 108%;
}

.content .main-panel .download-svg-1-icon {
  width: 1.25vw;
  position: relative;
  height: 2vh;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.content .frame-parent {
  margin-top: 4.222vw;
  width: 57.222vw;
  position: relative;
  border-radius: 20px;
  background-color: rgba(53, 53, 53, 0.45);
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 74.222vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 35px 24px;
  gap: 10px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: IQOS;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #222;                 /* Цвет фона */
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;           /* Ползунок */
  border-radius: 0;
  border: 2px solid #161616;           /* Промежуток вокруг ползунка */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px; /* ← ВОТ ЭТО главное */
  width: 48px;
  height: 48px;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  background-color: #444;
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
}