<!DOCTYPE html>
<html>
    <head>
    <title>Dima</title>
    <link rel="stylesheet" href="/static/background.css">
    <link rel="stylesheet" href="/static/user.css">
    </head>
    <body>
    <div class="background-blur-container">
        <div class="blur-blob one"></div>
        <div class="blur-blob two"></div>
        <div class="blur-blob three"></div>
    </div>
    <header>
        <a href="{{ url_for('index') }}" class="back-btn">
            <span class="text">Back</span>
            <span class="circle"></span>
        </a>
    </header>
    </body>
</html>