<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/background.css">
</head>
<body>
  <div class="background-blur-container">
      <div class="blur-blob one"></div>
      <div class="blur-blob two"></div>
      <div class="blur-blob three"></div>
  </div>

  <header>
      <div class="container">
        <a href="{{ url_for('andrew') }}">
          <div class="button andrew">
            <svg viewBox="0 0 24 24" class="arr-22" xmlns="http://www.w3.org/2000/svg">
              <path
                      transform="rotate(180 12 12)"
                      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>


            <span class="text">ANDREW</span>
          <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-11" xmlns="http://www.w3.org/2000/svg">
              <path
                      transform="rotate(180 12 12)"
                      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
          </div>
        </a>
        <a href="{{ url_for('dima') }}">
          <div class="button">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
          <span class="text">DIMA</span>
          <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
        </div>
        </a>
      </div>
    </header>
  <div class="main">
    <div class="container">
      <img src="/static/img/andrew.jpeg" alt="">
      <div class="container">
        <div class="text">
        <div class="title">
          NEXT
        </div>
        <br>
        <div class="subtitle">
          LAYER
        </div>
      </div>
      </div>
        <img src="/static/img/dima.jpeg" alt="">
    </div>
  </div>
  <div class="bottom">
      <div class="title">
        BASED IN POZNAŃ, POLAND
        <br>
        LANGUAGE: POLISH, RUSSIAN, UKRAINIAN
      </div>
    </div>
</body>
</html>
